<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>User Form</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <h2>Patient Update Form</h2>
    <form action="#" th:action="@{/patient/save}" th:object="${user}" method="POST">
        <input type="hidden" th:field="*{patientId}" th:value="${user.patientId != null ? user.patientId : 0}">
        <input type="hidden" th:field="*{doctor}" th:value="${user.doctor != null ? user.doctor : null}">
        <div class="mb-4">
             <p>Enter Name</p>
            <input type="text" th:field="*{name}" placeholder="First name" class="form-control col-4">
        </div>
        <div class="mb-4">
            <p>Enter Email</p>
            <input type="text" th:field="*{email}" placeholder="Email" class="form-control col-4">
        </div>
        <div class="mb-4">
            <p>Enter Password</p>
            <input type="text" th:field="*{password}" placeholder="Password" class="form-control col-4">
        </div>
        <button type="submit" class="btn btn-info col-2">Save</button>
        <a href="javascript:history.go(-1)" class="btn btn-primary">Back</a>
    </form>
</div>
<hr>
</body>
</html>
